/* VERSION DESKTOP */

/* regles generales */

body {
  margin: 0px;
  font-family: Raleway;
  background: radial-gradient(circle at center, #f3d9e3 0%, #e5fbda 150%);
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  width: 50px;
  height: 50px;
  display: block;
}
a {
  text-decoration: none;
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}

a:hover {
  text-shadow: 0 5px 15px rgb(196, 161, 197);
}

p {
  text-justify: auto;
}

/* taille temporaire pour la construction du site */
/* header */

header {
  font-family: Chakra Petch;
  font-size: 18px;
  border: 1px #d2d2d2 solid;
  border-radius: 9px;
  background: linear-gradient(to top, #e5fbdacc -100%, #f3d9e3b7 200%);
  font-weight: 500;
}

.flexheader {
  display: flex;
  justify-content: space-between;
  color: #554149;
  margin: 2px 8px;
}

header a {
  color: #554149;
}

/* body */

/* regler le soucis d'animation */

#presentation {
  text-align: right;
  font-size: 20px;
  margin: 60px;
  transition: all 0.5s ease-in-out;
  animation: ombre-texte 2s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

@keyframes ombre-texte {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.684);
  }
  50% {
    text-shadow: 0 0 10px rgba(198, 198, 198, 0.5);
  }
  100% {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.385);
  }
}

#presentation:hover {
  font-size: 22px;
}

#welcome {
  display: flex;
  align-items: flex-start;
  margin: 30px 20px 100px 20px;
  border: 1px #d2d2d2 solid;
  border-radius: 9px;
  padding: 30px;
  transition: all 0.5s ease-in-out;
}

#welcome:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.625);
}
/* resoud le problème du shadow sur le bloc instagram */
.instagram-media {
  transition: all 0.5s ease-in-out !important;
}

.instagram-media:hover {
  box-shadow: rgba(255, 255, 255, 0.447) 0px 50px 100px -20px,
    rgba(255, 255, 255, 0.39) 0px 30px 60px -30px !important;
}

#introduction {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 4px;
  margin: 10px;
}

.whoami {
  display: flex;
  border: 1px #d2d2d2 solid;
  border-radius: 10px;
  align-items: baseline;
  padding: 5px 20px;
  background-color: #e5fbdaae;
  transition: all 0.5s ease-in-out;
  text-align: right;
}

.whoami:hover {
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}

.internship a {
  font-weight: bold;
  color: rgb(173, 24, 24);
  text-shadow: 0 5px 15px rgba(222, 27, 27, 0.5);
  transition: all 0.5s ease-in-out;
}

.internship a:hover {
  font-size: 18px;
  text-shadow: none;
}

.news {
  transition: all 0.5s ease-out;
  padding: 10px;
  border: 1px #d2d2d2 solid;
  border-radius: 10px;
  background-color: #e5fbdaae;
  text-align: left;
}

.news:hover {
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}

iframe {
  grid-column: 2/4;
  grid-row: 2/3;
  transition: all 0.5s ease-in-out;
}

iframe:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.instagram-media {
  grid-column: 3;
  grid-row: 2;
}

/* --- */

#technologies h2 {
  text-align: center;
  font-size: 50px;
  color: #554149;
  border: 1px #e5fbda7b solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 80px;
  margin-bottom: 70px;
}

#platforms {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #c3d7b998;
}

.grid-container {
  border: 2px #d2d2d2 solid;
  border-radius: 9px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 30px;
  margin-left: 170px;
  margin-right: 170px;
  background: linear-gradient(to bottom, #f3d9e3b7 0%, #e5fbda 200%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}

.grid-container:hover {
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}

.grid-item {
  border-radius: 15px;
  display: grid;
  align-items: center;
  justify-items: center;
  border: 1px solid #bcadad;
  padding: 10px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.grid-item img {
  padding: 9px;
  opacity: 90%;
}

.grid-item:hover {
  background-color: #e5fbdaae;
}

.qualities {
  display: flex;
  justify-content: space-evenly;
  margin: 120px;
  font-size: 30px;
}

.qualities div {
  border: 1px #bcadad dashed;
  padding: 20px;
  border-radius: 60px;
  transition: all 0.5s ease-in-out;
}

.qualities div:hover {
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgb(255, 255, 255);
  border: 1px #f3d9e3 solid;
}

/* footer */

footer {
  margin-top: 50px;
  display: flex;
  padding: 40px;
  border: 1px #d2d2d2 solid;
  border-radius: 9px;
  background: linear-gradient(to bottom, #e5fbdacc -50%, #f3d9e3b7 100%);
  flex-direction: column;
  align-items: center;
}

footer a {
  color: #554149;
  font-size: 18px;
}

/* VERSION MOBILE  */

@media screen and (max-width: 768px) {
  body {
    font-size: 23px;
    background: radial-gradient(ellipse at 50% 20%, #f3d9e3 0%, #e5fbda 160%);
  }

  /* ---- */
  .icone {
    font-size: 20px;
  }

  .flexheader a {
    font-size: 30px;
    background-color: pink;
    border-radius: 10px;
  }

  #platforms {
    margin-bottom: 100px;
    margin-top: 0px;
    padding: 30px 0 30px 0;
    text-align: left;
  }

  #platforms a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
  }
  #technologies h2 {
    text-align: center;
    font-size: 50px;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 20px;
    padding-inline-start: 0px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .grid-item {
    background-color: pink;
  }
}
